body {
    background-color: #5A4F5F;
    flex-wrap: nowrap;
} 

p {
    font-family: 'EB Garamound';
    line-height: 1.25;
} h1, h2, h3 {
    font-family: 'Lalezar';
    font-weight: bold;
} a, a:active, a:visited {
    color: inherit;
    font-style: normal;
    text-decoration: none;
} ul {
    list-style: none;
    margin-left: -2.5em;
}

#ninaZhuo {
    color: #8B1E3F;
    width: 100%; 
    line-height: 1;
    font-weight: bolder;
    font-size: 32px;
    font-family: 'Lalezar';
    margin-bottom: .75em;
} #ninaZhuo a:hover {
    color: #8B1E3F;
    text-shadow: 2px 2px white;
    font-weight: bold;
} nav ul {
    line-height: 2;
} a:hover {
    font-weight: bold;
    color: #481D24;
} li[aria-current = "true;"] {
    text-decoration: underline;
    font-weight: bold;
} 